.container{
    height:710px;
    width: 800;
    background-color: silver;
    margin-top: 20px 20px 0px 20px;
    padding-top: 20px;
}

.top-nav {
    height: 150px;
    background-color: green;
    margin: 20px 20px 20px 20px;
}

.side-nav {
    height: 300px;
    width: 250px;
    background-color: blue;
    display: inline-block;
    margin: 0px 20px 20px 20px;
}

.main {
    height: 480px;
    width: 1010px;
    background-color: red;
    margin-left: 10px; 
    display: inline-block;
    vertical-align: top;
}

.sub-content {
    height: 250px;
    width: 300px;
    background-color: yellow;
    display: inline-block;
    margin-left: 20px;
    margin-top: 20px;
}

#advertisement {
    height: 120px;
    width: 950px;
    background-color: purple;
    margin-left: 20px;
    margin-top: 20px;
}
