.nav {
    background-color: rgb(73, 66, 66);
    color: white;
    font-size: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Roboto', sans-serif;

}

.nav-links {
    list-style: none;
    display: flex;
    flex: 1;
    justify-content: end;
    font-size: 12px;
    justify-content: space-evenly;
    margin-left: 800px;
    margin-top: 20px;
    margin-bottom: 10px;
    color: rgb(105, 122, 105);
}


.active {
    color: white;
    font-style: solid;
    font-size: 12px;

}

.btn {
    height: 30px;
    background-color: rgb(47, 173, 223);
    color: white;
    box-shadow: 10px 5px 5px black;
    font-family: 20px 'Roboto', sans-serif white;
    font-style: solid;
    justify-content: center;

}